body {
    font-family: 'Roboto';
}

.bttn {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-align: center;
    
    
    font-size: 13px;
    font-family: Tahoma;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
}

h2{
    padding-bottom: 20px;
}

.de{
    float: left;
    padding-top: 6px;
    padding-right: 8px;
}

.de-select{
    float: left;
    width: 90px;
}

.a{
    float: left;
    padding-top: 7px;
    padding-right: 10px;
}

.a-select{
    position: relative;
    padding-left: 135px;
    width: 226px;
}

.container1 {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    justify-content: center;
    width: 90%;
    border-radius: 6px;
    margin-left: 4%;
}

.form-control{
    width: 70%;
}

.btn-enviar:hover{
	background:#12e60b;
	color:rgb(255, 255, 255);    
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}