body{
    font-family: 'Roboto';
}

.lbl-referencia{
    font-size: 14px;
    padding: 2px;
}

.card-body{
    padding-top: 22px;
    background-color: rgb(255, 255, 255);
    width: 55%;
    border-radius: 20px;
    margin: auto;
}

.div-foto{
    padding-bottom: 20px;
}

.foto{
    border-radius: 100px;
}

.encabezado{
    padding: 30px;
}

.lbl-valor{
    font-size: medium;
    color: rgb(255, 0, 0);
}