{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
        <h4>Actualizar Registro de Herramienta</h4>
      <div class="card card-body">
        <form action="/update_he/{{herramientas.he_codigo}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="form-group">
            <p>Código</p>
            <input type="text" name="cod" readonly="readonly" value="{{herramientas.he_codigo}}" class="form-control">
          </div>
          <div class="form-group">
            <p>Descripción</p>
            <input type="text" name="desc" value="{{herramientas.he_descripcion}}" class="form-control">
          </div>
          <div class="form-group">
            <p>Cantidad</p>
            <input type="text" name="cant" value="{{herramientas.he_cantidad}}" class="form-control">
          </div>
          <div class="form-group">
            <p>Estado</p>
            <select type="text" name="estado" value="{{herramientas.he_estado}}" class="form-control">
              <option value="Nuevo" selected>Nuevo</option>
              <option value="Usado">Usado</option>
            </select>    
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}