{% extends "layout2.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-form.css') }}">
<div class="container1"> 
    
    <div class=" text-center mt-5 ">
        <h3>Actualizar Registro</h3>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form action="/update_ma/{{material.ma_codigo}}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Código: *</label> <input type="text" name="codigo" value="{{material.ma_codigo}}" class="form-control" required="required" data-error="Ingrese código."> </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group"> <label for="form_need">Sección: *</label> 
                                          <select name="seccion" class="form-control" required="required" data-error="Porfavor elija un nivel.">
                                              <option value="" disabled selected>--Seleccione Sección--</option>
                                              <option value="EOC">EOC</option>
                                              <option value="EQUIPOS">EQUIPOS</option>
                                              <option value="FTTH">FTTH</option>
                                              <option value="INSUMOS">INSUMOS</option>
                                          </select> </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Descripción</label> <input type="text" name="desc" value="{{material.ma_descripcion}}" class="form-control" required="required" data-error="Ingrese descripción."> </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group"> <label for="form_need">Unidad: *</label> 
                                          <select name="unidad" class="form-control" required="required" data-error="Porfavor elija un nivel.">
                                              <option value="" disabled selected>--Seleccione Unidad--</option>
                                              <option value="bolsa">bolsa</option>  
                                              <option value="caja">caja</option>  
                                              <option value="carrete">carrete</option>
                                              <option value="metros">metros</option>
                                              <option value="unidad">unidad</option>
                                          </select> </div>
                                  </div>
                                </div>
                                  <div class="col-md-12"> <input type="submit" class="bttn btn-enviar" value="Actualizar Registro"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>

{% endblock %}