{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
        <h4>Actualizar Orden de Servicio</h4>
      <div class="card card-body">
        <form action="/update_os/{{os.at_numsolicitud}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="form-group">
            <select type="text" name="idtec" class="form-control select">
                {% for row in tecnicos %}
                    <option>{{row}}</option>
                {% endfor %}
            </select>    
          </div>
          <div class="form-group">
            <select type="text" name="zona" class="form-control">
                {% for row1 in zonas %}
                    <option>{{row1}}</option>
                {% endfor %}
            </select>    
          </div>
          <div class="form-group">
            <p>Tipo</p>
            <select type="text" name="tipo" value="{{os.at_tipo}}" class="form-control">
              <option value="Instalacion" selected>Instalacion</option>
              <option value="Mantenimiento">Mantenimiento</option>
            </select>    
          </div>
          <div class="form-group">
            <p>Red</p>
            <select type="text" name="red" class="form-control">
                <option value="FTTH" selected>FTTH</option>
                <option value="EOC">EOC</option>
                <option value="HFC">HFC</option>
            </select>    
          </div>
          <div class="form-group">
            <p>Usuario</p>
            <input type="text" name="usuario" value="{{os.at_usuario}}" class="form-control">
          </div>
          <div class="form-group">
            <p>Dirección</p>
            <input type="text" name="direccion" value="{{os.at_direccion}}" class="form-control">
          </div>
          <div class="form-group">
            <p>Detalle</p>
            <input type="text" name="detalle" value="{{os.at_detalle}}" class="form-control">
          </div>
          <div class="form-group">
            <p>Horario</p>
            <select type="text" name="horario" value="{{os.at_horario}}" class="form-control">
              <option value="8 - 10" selected>8 - 10</option>
              <option value="10 - 12">10 - 12</option>
              <option value="12 - 14">12 - 14</option>
              <option value="14 - 16">14 - 16</option>
              <option value="16 - 18">16 - 18</option>
            </select>    
          </div>
          <div class="form-group">
            <p>Observación</p>
            <input type="text" name="observacion" value="{{os.at_observ_orden}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}