{% extends "layout2.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-form.css') }}">
<div class="container"> 
    
    <div class=" text-center mt-5 ">
        <h1>Actualizar Orden de Servicio</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form action="/update_os/{{os.at_numsolicitud}}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Seleccione Técnico *</label> 
                                            <select name="idtec" name="idtec" class="form-control" required="required" data-error="Porfavor elija un nivel.">
                                                {% for row in tecnicos %}
                                                    <option>{{row}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Seleccione Zona *</label> 
                                            <select name="zona" name="zona" class="form-control" required="required" data-error="Porfavor elija un nivel.">
                                                {% for row in zonas %}
                                                    <option>{{row}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Tipo *</label> 
                                            <select name="tipo" name="tipo" class="form-control" required="required" data-error="Porfavor elija un nivel.">
                                                <option value="Instalacion" selected>Instalación</option>
                                                <option value="Mantenimiento">Mantenimiento</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Tipo *</label> 
                                            <select name="red" name="red" class="form-control" required="required" data-error="Porfavor elija un nivel.">
                                                <option value="FTTH" selected>FTTH</option>
                                                <option value="EOC">EOC</option>
                                                <option value="HFC">HFC</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Usuario *</label> <input type="text" name="usuario" value="{{os.at_usuario}}" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Dirección *</label> <input type="text" name="direccion" value="{{os.at_direccion}}" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Detalles *</label> <input type="text" name="detalle" value="{{os.at_detalle}}" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="form_need">Horario *</label> 
                                        <div class="form-group"> 
                                            <div class="de">
                                                <label>DE:</label>
                                            </div>
                                            <div class="de-select">
                                                <select name="de" class="form-control de-select" required="required" data-error="Porfavor elija un nivel.">
                                                    <option value="8" selected>8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                </select>
                                            </div>
                                            <div class="a">
                                                <label>A:</label>
                                            </div>
                                            <div class="a-select">
                                                <select name="a" class="form-control de-select" required="required" data-error="Porfavor elija un nivel.">
                                                    <option value="8" selected>8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Observaciones *</label> <input type="text" value="{{os.at_observ_orden}}" name="observacion" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                    </div>
                                    <div class="col-md-12"> <input type="submit" class="bttn btn-enviar" value="Actualizar Registro"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>


{% endblock %}