{% extends "layout2.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style-stock.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,40,0,400i,500,500i" rel="stylesheet">
<div class="container1"> 
    
    <div class=" text-center mt-5 ">
        <h2>Stock</h2>
    </div>

    <div class="row">
      <div class="col-lg-7 mx-auto">
          <div class="card mt-2 mx-auto p-4 bg-light">
              <div class="card-body bg-light">
                  <div class="container">
                      <div class="controls">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group"> <label for="form_need">Zonas:</label> 
                                <select name="nivel" class="form-control " onchange="location = '/stock?zona='+this.value;'' ">
                                  <option value="" selected disabled>--Seleccione Zona--</option>
                                  {% for row in zonas %}      
                                    <option>{{row}}</option>
                                  {% endfor %}
                                </select> 
                            </div>
                          </div>
                        </div>
                        <div class="row"> 
                          <div class="col-md-6">
                              <div class="h4Zona">
                                <h4>Listado de Material - Zona: </h4>
                              </div>
                              <div class="zone">
                                <h4 class="h4zone">{{zone}}</h4>
                              </div>
                          </div>
                        </div>
                          <div class="col-md-10 tabla-tecnico">
                            <table id="tabla" class="table table-bordered order-table bordes-tabla">
                              <thead class="encabezado-tabla">
                                <tr>
                                  <td>Zona</td>
                                  <td>Descripcion de Material</td>
                                  <td>Unidad de Medida</td>
                                  <td>Cantidad Entrada</td>
                                  <td>Cantidad Salida</td>
                                  <td>Cantidad Disponible</td>
                                </tr>
                              </thead>
                              <tbody>
                                {% for row in list_mat %}
                                <tr>
                                  <td class="row0">{{row[0]}}</td>
                                  <td class="row0">{{row[1]}}</td>
                                  <td class="row0">{{row[2]}}</td>
                                  <td class="row0">{{row[3]}}</td>
                                  <td class="row0">{{row[4]}}</td>
                                  <td class="row0">{{row[5]}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
</div>
  
{% endblock %}