{% extends "layout2.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-ver-tecnico.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,40,0,400i,500,500i" rel="stylesheet">
<div class=" text-center mt-5 ">
  <h3 class="encabezado">Datos de Registro</h3>
</div>
<div class="container"> 
            <div class="card card-body">
                    <div class="container">
                       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="controls">
                                <div class="row">
                                  <div class="col-md-3">
                                    <div class="col-md-6 div-foto">
                                      <img String src="{{ url_for('static', filename=foto) }}" class="foto" style="width: 200px; height: 200px;" />
                                    </div>
                                  </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia">Identificación:</label> <label class="lbl-valor">{{tecnico.te_identificacion}}</label>
                                    </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia">Nombres:</label> <label class="lbl-valor">{{tecnico.te_nombres}}</label>
                                    </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia">Apellidos:</label> <label class="lbl-valor">{{tecnico.te_apellidos}}</label> 
                                    </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia">Teléfono:</label> <label class="lbl-valor">{{tecnico.te_telefono}}</label> 
                                    </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia" >Dirección:</label> <label class="lbl-valor">{{tecnico.te_direccion}}</label> 
                                    </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia">Email:</label> <label class="lbl-valor">{{tecnico.te_direccion}}</label> 
                                    </div>
                                    <div class="col-md-6">
                                      <label class="lbl-referencia">Nivel:</label> <label class="lbl-valor">Tecnico-Auxiliar {{tecnico.te_nivel}}</label> 
                                    </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
        </div>

{% endblock %}