{% extends "layout3.html" %}

{% block content %}

<!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css'>-->
<!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-ver-tareas.css') }}">

<!--SWEET ALERT-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-mensajes.css') }}">
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<!--<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>-->

<!--<script src="sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">-->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,40,0,400i,500,500i" rel="stylesheet">
    <div class="container2">
      <div class="text-center mt-5 titulo">
        <h3>Mis Tareas</h3>
      </div>
          <div class="col-md-12">
            <table id="tabla" class="bordes-tabla">
              <thead class="encabezado-tabla">
                <tr>
                  <td class="td0">N° Orden</td>
                  <td>Técnico</td>
                  <td>Zona</td>
                  <td>Tipo</td>
                  <td>Red</td>
                  <td>Usuario</td>
                  <td>Dirección</td>
                  <td>Detalle</td>
                  <td>Horario</td>
                  <td>Observacion</td>
                  <td>Estado</td>
                  <td>Fecha</td>
                  <td>Acción</td>
                </tr>
              </thead>
              <tbody class="filas-tabla">
                {% for row in asignaciones %}
                <tr>
                  <td class="row0">{{row[0]}}</td>
                  <td class="row0">{{row[1]}}</td>
                  <td class="row0">{{row[2]}}</td>
                  <td class="row0">{{row[3]}}</td>
                  <td class="row0">{{row[4]}}</td>
                  <td class="row0">{{row[5]}}</td>
                  <td class="row0">{{row[6]}}</td>
                  <td class="row0">{{row[7]}}</td>
                  <td class="row0">{{row[8]}}</td>
                  <td class="row0">{{row[9]}}</td>
                  <td class="row0">{{row[10]}}</td>
                  <td class="row0">{{row[11]}}</td>
                  <td class="row0 accion" >
                    {% if row[10] == "Pendiente" %}
                      <!-- HORARIO 8 - 10 -->
                      {% if row[8] == '8 - 10' %}
                      <a href="javascript: Swal.fire({
                        title: 'Completar Actividad',
                        text: '¿Está seguro que desea completar esta actividad?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completarla!',
                        cancelButtonText: 'Cancelar'
                      }).then((result) => {
                        if (result.isConfirmed) {
                          window.location = '/notas?orden={{row[0]}}&zona={{row[2]}}';
                        }
                      })
                      " class="btn btn-completar btn-primary" >Completar</a>
                        {% if expirado1 == 0  %}
                        <h6>Tiempo restante:</h6>
                        <div>
                          <h5 class="hora">{{ hora1 }}</h5>
                        </div>
                        {% else %}
                          <h6>Fuera de tiempo:</h6>
                          <div>
                            <h5 class="hora">{{ hora1 }}</h5>
                          </div>
                        {% endif %} 
                      {% endif %} 
                      <!-- HORARIO 8 - 9 -->
                      {% if row[8] == '8 - 9' %}
                      <a href="/notas?orden={{row[0]}}&zona={{row[2]}}" class="btn btn-completar btn-primary b-complete" onclick="completar();">Completar</a>
                        {% if expirado11 == 0  %}
                        <h6>Tiempo restante:</h6>
                        <div>
                          <h5 class="hora">{{ hora11 }}</h5>
                        </div>
                        {% else %}
                          <h6>Fuera de tiempo:</h6>
                          <div>
                            <h5 class="hora">{{ hora11 }}</h5>
                          </div>
                        {% endif %} 
                      {% endif %} 
                      <!-- HORARIO 10 - 12 -->
                      {% if row[8] == '10 - 12' %}
                      <a href="/notas?orden={{row[0]}}&zona={{row[2]}}" class="btn btn-completar btn-primary">Completar</a>
                        {% if expirado2 == 0  %}
                        <h6>Tiempo restante:</h6>
                        <div>
                          <h5 class="hora">{{ hora2 }}</h5>
                        </div>
                        {% else %}
                          <h6>Fuera de tiempo:</h6>
                          <div>
                            <h5 class="hora">{{ hora2 }}</h5>
                          </div>
                        {% endif %} 
                      {% endif %} 
                      <!-- HORARIO 12 - 14 -->
                      {% if row[8] == '12 - 14' %}
                      <a href="/notas?orden={{row[0]}}&zona={{row[2]}}" class="btn btn-completar btn-primary">Completar</a>
                        {% if expirado3 == 0  %}
                        <h6>Tiempo restante:</h6>
                        <div>
                          <h5 class="hora">{{ hora3 }}</h5>
                        </div>
                        {% else %}
                          <h6>Fuera de tiempo:</h6>
                          <div>
                            <h5 class="hora">{{ hora3 }}</h5>
                          </div>
                        {% endif %} 
                      {% endif %} 
                      <!-- HORARIO 14 - 16 -->
                      {% if row[8] == '14 - 16' %}
                      <a href="/notas?orden={{row[0]}}&zona={{row[2]}}" class="btn btn-completar btn-primary">Completar</a>
                        {% if expirado4 == 0  %}
                        <h6>Tiempo restante:</h6>
                        <div>
                          <h5 class="hora">{{ hora4 }}</h5>
                        </div>
                        {% else %}
                          <h6>Fuera de tiempo:</h6>
                          <div>
                            <h5 class="hora">{{ hora4 }}</h5>
                          </div>
                        {% endif %} 
                      {% endif %} 
                      <!-- HORARIO 16 - 18 -->
                      
                      {% if row[8] == '16 - 18' %}
                      <a href="/notas?orden={{row[0]}}&zona={{row[2]}}" class="btn btn-completar btn-primary">Completar</a>
                        {% if expirado5 == 0  %}
                        <h6>Tiempo restante:</h6>
                        <div>
                          <h5 class="hora">{{ hora5 }}</h5>
                        </div>
                        {% else %}
                          <h6>Fuera de tiempo:</h6>
                          <div>
                            <h5 class="hora">{{ hora5 }}</h5>
                          </div>
                        {% endif %} 
                      {% endif %} 
                    {% else %}
                      <a href="/notas" class="btn btn-primary btn-danger disabled">Finalizada</a> 
                    {% endif %}
      
                  </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div> <!-- /container -->
        </div>
{% endblock %}