{% extends "layout2.html" %}

{% block content %}

<head>
<script  src="{{ url_for('static', filename='js/script-tabla.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-zonas.css') }}">
</head>

<div class="container1"> 
    
  <div class=" text-center mt-5 ">
      <h2>Zonas</h2>
  </div>

  <div class="row">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class="container">
                    <div class="controls">
                      <div class="row">
                        <div class="col-md-6">
                          <form action="{{url_for('add_tecnico')}}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Zona:</label> <input type="text" name="zona" class="form-control" placeholder="Porfavor ingresar la zona *" required="required" data-error="Ingrese la zona."> </div>
                                    </div>
                                    <div class="col-md-12"> <input type="submit" class="bttn btn-enviar" value="Guardar Registro"> </div>
                                </div>
                            </div>
                            </form>
                        </div>
                      </div>
                      <div class="row"> 
                        <div class="col-md-6">
                            <div class="h4Zona">
                              <h4 class="titulo-zona">Listado de Zonas: </h4>
                            </div>
                        </div>
                      </div>
                        <div class="col-md-10 tabla-tecnico">
                          <table id="tabla" class="table table-bordered order-table bordes-tabla">
                            <thead class="encabezado-tabla">
                              <tr>
                                <td>ID</td>
                                <td>Zona</td>
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in zonas %}
                              <tr>
                                  <td class="row0">{{loop.index}}</td>
                                  <td class="row0">{{row}}</td>
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
